body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
/* header styles [start]*/
header {
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.6;
}
/* contaienr styles */
.container {
    padding: 38px 60px 30px;
    position: relative;
    height: 600px;
}
/* some style to header title box */
header .title-box{
    background-color: var(--bg-title-color);
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    border-radius: 7px;
}
/* some style to title of notepad */
header .title-box>span{
    border-bottom: 1px solid grey;
    color: var(--title-color);
    margin-bottom: 10px;
    width: 70px;
    font-size: 17px;
}
/* some style to input text of notepad */
header .title-box>input[type = text]{
    background-color: var(--bg-title-color);
    color: var(--title-color);
    outline: none;
    border: none;
}
/* some style to category */
header .category{
    background-color: var(--bg-title-color);
    border-radius: 7px;
    margin-top: 10px;
    padding: 10px 20px;
}
/* some style to category box */
header .category-box , .date-box{
    display: flex;
    justify-content: space-between;
}
/* some style to category options and date options */
header .category-option, .date-option{
    background-color: var(--bg-category-color);
    color: var(--title-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2px 5px;
    width: 130px;
    border-radius: 5px;
}
header .category-option{
    margin-bottom: 7px;
}
header .category-option svg:last-of-type, .date-option svg{
    fill: var(--text-color);
    width: 12px;
}
/* change color svg image to orange neon */
header .category-option svg:first-of-type{
    fill: var(--neon-color);
}
header .text-note>#NotePad{
    background-color: var(--note-write-part);
    margin-top: 10px;
    border-radius: 7px;
    padding: 10px 20px;
    border: none;
    outline: none;
    color: var(--title-color);
    position: relative;
    width: 100%;
}
header .text-note>#NotePad:focus{
    border: 1px solid rgb(255, 128, 0);
}
footer .footer-part{
    display: flex;
    justify-content: center;
}
footer .add-file{
    color: var(--title-color);
    background-color: var(--bg-title-color);
    padding: 10px 30px;
    border-radius: 7px;
    margin-right: 40px;
    cursor: pointer;
}
footer .del-file{
    background-color: var(--del-color);
    color: var(--text-delete);
    padding: 10px 30px;
    border-radius: 7px;
    cursor: pointer;
}